<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        
        <title>{% block header-title %}{% endblock %}</title>
        
        <link rel="shortcut icon" type="image/ico" href="{{ "favicon.ico" | asset_url }}" />
        
        {{ "normalize.css" | asset_url | stylesheet_tag }}
        {{ "main.css" | asset_url | stylesheet_tag }}
        {{ "styles.css" | asset_url | stylesheet_tag }}
        {{ "modernizr.min.js" | asset_url | script_tag }}
        
    </head>
    <body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
         {% include "nav" %}
        
        <article>
            <header>
             <div class="page-title">
                <h2>{% block page-title %}{% endblock %}</h2>
            </div>
            </header>
            <div class="page-content">
                {% block content %}{% endblock %}
            </div>
        {% include "footer" %}
        </article>
        
        {% include "analytics" %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        {{ "main.min.js" | asset_url | script_tag }}
        {{ "plugins.min.js" | asset_url | script_tag }}
    </body>
</html>
